body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: #0f172a;
    color: white;
}

header {
    text-align: center;
    padding: 50px;
    background: #1e293b;
}

section {
    padding: 40px;
    max-width: 900px;
    margin: auto;
}

.project {
    background: #1e293b;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
}
